.our-masters {
    position: relative;
    height: 900px;

    &__wrap {
        position: absolute;
        right: 0;
        width: 50%;
        overflow: auto;

        z-index: 3;
    }

   

    &__img {
        position: absolute;
        left: -4%;
        bottom: 0.35%;
        width: 54%;

        z-index: 1;
    }

    &__description {
        display: flex;
        flex-direction: column;

        width: 90%;

        color: $colorWhite;
        padding-left: 3.7%;
        padding-top: 4.2%;

    }

    &__name {
        font-size: 34 / 16 + em;
        &_capital {
            font-size: 48 / 34 + em;
        }
    }

    &__text {
        padding-top: 1.8%;
        padding-left: 1%;
        font-size: 23 / 16 + em;
        line-height: 1.65em;
        letter-spacing: 0.01em;

        &_capital {
            font-size: 36 / 23 + em;
        }

        &_accent {
            font-size: 26 / 23 + em;
            color: $colorPurple;
        }
    }

    &__review {
        letter-spacing: 0;
    }

    &__price {
        margin-top: 3.5%;
        letter-spacing: -0.02em;
    }

    &__button {
        margin-top: 6.2%;
        margin-left: 2%;
        margin-bottom: 20px;
        height: 86px;
		width: 314px;

		font-family: Romul, sans-serif;
		font-size: 30px;
        color: #060606;
        letter-spacing: 0.02em;
        cursor: pointer;

		background: rgba(149, 130, 191, 1);
		background: -moz-linear-gradient(top, rgba(149, 130, 191, 1) 0%, rgba(160, 145, 194, 1) 33%, rgba(203, 211, 215, 1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(149, 130, 191, 1)), color-stop(33%, rgba(160, 145, 194, 1)), color-stop(100%, rgba(203, 211, 215, 1)));
		background: -webkit-linear-gradient(top, rgba(149, 130, 191, 1) 0%, rgba(160, 145, 194, 1) 33%, rgba(203, 211, 215, 1) 100%);
		background: -o-linear-gradient(top, rgba(149, 130, 191, 1) 0%, rgba(160, 145, 194, 1) 33%, rgba(203, 211, 215, 1) 100%);
		background: -ms-linear-gradient(top, rgba(149, 130, 191, 1) 0%, rgba(160, 145, 194, 1) 33%, rgba(203, 211, 215, 1) 100%);
		background: linear-gradient(to bottom, rgba(149, 130, 191, 1) 0%, rgba(160, 145, 194, 1) 33%, rgba(203, 211, 215, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9582bf', endColorstr='#cbd3d7', GradientType=0);
        
		box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.79);
        border: none;
    }
}