.menu {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;

    width: 1220px;
    padding-top: 0.5%;
    margin-top: 4.3%;
    margin-left: auto;
    margin-right: auto;

    z-index: 10;

    &__link {
        font-size: 24 / 16 + em;
        text-decoration: none;
        color: $colorPurple;
        letter-spacing: 0.05em;

        &:hover {
            color: rgba($color: $colorPurple, $alpha: 0.8);
        }

        &:active {
            color: #6c706b;
        }

        &_capital {
            font-size: 36 / 24 + em;
        }
    }
    

    
}